aiosqlite==0.17.0
backcall==0.2.0
click==7.1.2
colorama==0.4.4
decorator==5.0.6
fastapi==0.63.0
greenlet==1.0.0
h11==0.12.0
ipython==7.22.0
ipython-genutils==0.2.0
jedi==0.18.0
keyboard==0.13.5
parso==0.8.2
pickleshare==0.7.5
Pillow==8.2.0
prompt-toolkit==3.0.18
pydantic==1.8.1
Pygments==2.8.1
pywin32==300
SQLAlchemy==1.4.11
starlette==0.13.6
traitlets==5.0.5
typing-extensions==3.7.4.3
uvicorn==0.13.4
wcwidth==0.2.5
